# 21: Working with Python data types

Author: Greg Wray  
2025-MAR-04  
  
Type code into this notebook during lecture. Run code in the selected cell by clicking the `run` (play button) icon or typing `shift-return`.  
Modify and experiment!! This is the best way to get a feel for how Python works (and any other language).   
Consider adding comments to record notes and findings: `#` starts a comment on a new line or part way through a line (just like R and bash).

### Pre-defined data structures
Use these throughout class to avoid having to type your own!

In [189]:
mammal_tuple = ('mouse', 'fruit bat', 'chimpanzee', 'leopard')
fern_list = ['maidenhair', 'tree', 'staghorn']
number_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
tiny_str = 'R2D2'
short_str = 'Atlantic Right Whale'
long_str = '\'Twas brillig, and the slithy toves\n   Did gyre and gimble in the wabe:\nAll mimsy were the borogoves,\n   And the mome raths outgrabe.'
set_A = {1, 2, 3, 4, 5, 6}
set_B = {2, 4, 6, 8, 10, 12}
birds = ['parrot', 'quail', 'duck']
genera = ['Forpus', 'Coturnix', 'Anser']
tmnt = {"Leonardo": ["leader", "blue", "katana"], 
        "Raphael" : ["muscle", "red", "sai"],
        "Donatello" : ["brains", "purple", "bo"],
        "Michelangelo" : ["comedian", "orange", "nunchuk"]}

### Assignment

In [38]:
# simultaneous assignment

In [39]:
b

'leopard'

In [37]:
# swapping

In [40]:
print('a =', a, 'b =', b)

a = mouse b = leopard

In [28]:
# unpacking
mammal_tuple = ['mouse', 'fruit bat', 'chimpanzee', 'leopard']

i = mouse j= leopard

In [ ]:
print('i =', i, 'j=', j)

In [51]:
# augmented assignment
tally = 0

In [52]:
tally

2

### Working with numbers

The following are useful ways to specify and show the values of numeric data types.

In [63]:
# indicating data type

In [64]:
type(valA)

int

In [65]:
# assigning values using scientific notation

In [66]:
valD

35000.0

In [1]:
# indicating values of long numbers

In [62]:
valG

(1, 0, 395, 321)

### Data types and casting

In [69]:
# creating data structures

In [70]:
my_list

{'a', 'o', 'p', 'r', 't'}

In [71]:
# creating empty data structures; useful for loop operations

In [72]:
type(empty)

set

In [76]:
# creating data structures with range() pattern generator

# with optional second and third arguments (works for all of the above)

In [77]:
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# casting among atomic data types

In [ ]:
type(my_var)

In [ ]:
# casting among atomic data structures

In [ ]:
type(my_var)

### Common functions for working with data types and structures

In [ ]:
# these work with all data types and structures

In [2]:
# these work with all iterables and return numerics

In [79]:
# these work with all interables and return bools

True

In [82]:
# testing for membership with any container and return bools

True

In [ ]:
# making a copy of mutable data structures

### Working with strings
The examples below are just a few of the many built-in string methods. Explore and experiment to become proficient manipulating strings!

In [ ]:
# using different quoting methods

In [ ]:
s

In [ ]:
# concatenating strings

In [ ]:
s

In [88]:
# retrieving information about a string

In [89]:
b

False

In [97]:
# testing for character properties of a string and returns a bool

In [91]:
b

False

In [108]:
# manipulating strings

In [109]:
t

'7342'

In [116]:
# splitting stings; these methods return lists of strings

In [117]:
s

("'Twas brillig, and the slithy toves\n   Did ",
 'gyre',
 ' and gimble in the wabe:\nAll mimsy were the borogoves,\n   And the mome raths outgrabe.')

In [3]:
# formatted strings: the following are just a few examples
var1, var2, var3, var4 = 800, 2.23333252342424, 2000000000, 2000000.23242352
# examples of formatting numbers

# anything in curly braces is evaluated at runtime

# date and time formatting: won't cover today but very useful

### Working with lists
Lists are the most common data structure because they are so versatile. The following examples illustrate some of the things you can do with lists.

In [155]:
# modifying items in a list

In [156]:
fern_list

['bracken', 'Christmas', 'staghorn']

In [162]:
# adding items to a list

In [ ]:
fern_list

In [ ]:
# removing items from a list
# remove last item and optionally return the value

# remove by position (mutating; does not return items)

# remove by value (mutating; does not return items)

# remove duplicates

# remove all items

In [166]:
# retrieving values from a list

In [167]:
extracted

0

In [173]:
# retrieving information about the contents of a list
# built-in functions work as expected: len(), min(), max(), sum(), all(), any()

# test for membership in a list

# count items in a list that match a value

# retrieve the index of the first item in a list that match a value

In [ ]:
i

In [178]:
# sorting and reversing a list

# sort in-place

# retrieve sorted contents without altering the list

# reverse in-place

# retrieve reversed contents without altering the list

In [180]:
fern_list
# f

['maidenhair', 'staghorn', 'tree']

### Working with tuples
Tuples are commonly returned by functions and methods; they are also useful as a way to protect data from modification.

In [191]:
# creating a tuple
mammal_tuple = ('mouse', 'fruit bat', 'chimpanzee', 'leopard')

In [183]:
my_tup

('parrot',)

In [187]:
# retrieving information and contents from a tuple is similar to working with a list
# .count() and .index() are the only methods that work with tupbles; see examples with lists

In [192]:
# retrieving sorted  contents of tuples (direct sorting is not possible with tuples)

NameError: name 'mammmal_tuple' is not defined

### Working with sets

Sets are among the least appreciated and utilized data structures. The examples below illustrate some of the ways you can use their capabilities.

In [ ]:
set_A = {1, 2, 3, 4, 5, 6}
set_B = {2, 4, 6, 8, 10, 12}
set_C = {22, 33, 44, 55, 66}

In [193]:
# creating a set

In [194]:
set_C

set()

In [ ]:
# removing items from a set
# to remove based on value

# to remove a random item (useful for looping)

# to remove all items

In [ ]:
set_A

In [ ]:
# creating a set based on values in multiple sets
# to create a union of sets (transitive)

# to create an intersection of sets (transitive)

# to create a difference between sets: present in first but not in second (not transitive)

# to create a symmetric difference between sets: unique to each (transitive)

In [ ]:
# adding items to a set based on set operations
# unlike the above, these are mutating methods; they change 1 set

# parallel update_ methods exist for other set operations

In [ ]:
# testing for membership in a set

In [ ]:
# testing for outcomes of set operations
# these operations are limited to 2 sets and are not mutating; they return bools  

# alternatively can use operators; this allows the identity testing for all but disjoint

### Working with dictionaries
Dictionaries are commonly used to for a variety of purposes.

In [ ]:
birds = ['parrot', 'quail', 'duck']
genera = ['Forpus', 'Coturnix', 'Anser']
tmnt = {"Leonardo": ["leader", "blue", "katana"], 
        "Raphael" : ["muscle", "red", "sai"],
        "Donatello" : ["brains", "purple", "bo"],
        "Michelangelo" : ["comedian", "orange", "nunchuk"]}

In [ ]:
# creating a dictionary
# from scratch

# from an iterable with enumerate

# from two iterables with zip

In [ ]:
new_dict

In [ ]:
# updating and adding values in a dictionary
# based on key value

# using one or more key:value pairs

In [ ]:
new_dict

In [ ]:
# removing values from a dictionary
# based on key value; pop() and popitem() return tuples

# remove random item

# remove all items

In [ ]:
new_dict

In [ ]:
# retrieving information from a dictionary
#   mostly similar to working with a list: the usual functions and operators work
#   however: be aware of the gotchas below
# membership tests only for keys

# testing for membership in values requires an extra step

# testing for equality of values directly *always* returns False

# testing for equality of values requires an indirect comparison

In [ ]:
# retrieving values from a dictionary
# accessing values based on key

# accessing contents; these methods all return special data structures; all are iterable

# accessing contents directly

# accessing contents in a loop

In [ ]:
# sorting items in a dictionary is similar to lists
# however: functions and methods operate on *keys*, not values